<div class="container">
  <div class="row">
    <div class="col-md-auto">
      <%= image_tag "couch.jpg", height:445, alt:"Couch"%>
    </div>
    <div class="col-md-auto">
      <%= image_tag "fireplace.jpg", height:445, alt:"Fireplace"%>
    </div>
    <div class="col-md-auto">
      <%= image_tag "bookshelf.jpg", height:445, alt:"Bookshelf"%>
    </div>
  </div>

  <div class="row">
    <div class="col-md-auto">
      <%= image_tag "4.jpg", height:315, alt:"Couch"%>
    </div>
    <div class="col-md-auto">
      <%= image_tag "5.jpg", height:315, alt:"Fireplace"%>
    </div>
    <div class="col-md-auto">
      <%= image_tag "6.jpg", height:315, alt:"Bookshelf"%>
    </div>
    <div class="col-md-auto">
      <%= image_tag "7.jpg", height:315, alt:"Couch"%>
    </div>
  </div>

  <div class="row">
    <div class="col-md-auto">
      <%= image_tag "8.jpg", height:323, alt:"Fireplace"%>
    </div>
    <div class="col-md-auto">
      <%= image_tag "10.jpg", height:323, alt:"Bookshelf"%>
    </div>
    <div class="col-md-auto">
      <%= image_tag "11.jpg", height:323, alt:"Couch"%>
    </div>
    <div class="col-md-auto">
      <%= image_tag "12.jpg", height:323, alt:"Fireplace"%>
    </div>
  </div>

  <div class="row">
    <div class="col-md-auto">
      <%= image_tag "13.jpg", height:352, alt:"Bookshelf"%>
    </div>
    <div class="col-md-auto">
      <%= image_tag "14.jpg", height:352, alt:"Couch"%>
    </div>
    <div class="col-md-auto">
      <%= image_tag "15.jpg", height:352, alt:"Fireplace"%>
    </div>
    <div class="col-md-auto">
      <%= image_tag "16.jpg", height:352, alt:"Bookshelf"%>
    </div>
  </div>

</div>
