<div class="container">
  <div class="row">
    <div class="col-md-auto">
      <%= image_tag "couch.jpg", height:445, alt:"Couch"%>
    </div>
    <div class="col-md-auto">
      <%= image_tag "fireplace.jpg", height:445, alt:"Fireplace"%>
    </div>
    <div class="col-md-auto">
      <%= image_tag "bookshelf.jpg", height:445, alt:"Bookshelf"%>
    </div>
  </div>

  <div class="row">
    <div class="col-md-auto">
      <%= image_tag "table.jpg", height:315, alt:"table"%>
    </div>
    <div class="col-md-auto">
      <%= image_tag "african_wall.jpg", height:315, alt:"african wall"%>
    </div>
    <div class="col-md-auto">
      <%= image_tag "corner_vase.jpg", height:315, alt:"corner vase"%>
    </div>
    <div class="col-md-auto">
      <%= image_tag "medellin_kitchen.jpg", height:315, alt:"medellin kitchen"%>
    </div>
  </div>

  <div class="row">
    <div class="col-md-auto">
      <%= image_tag "curtains.jpg", height:323, alt:"curtains"%>
    </div>
    <div class="col-md-auto">
      <%= image_tag "medellin_table.jpg", height:323, alt:"medellin table"%>
    </div>
    <div class="col-md-auto">
      <%= image_tag "bed.jpg", height:323, alt:"bed"%>
    </div>
    <div class="col-md-auto">
      <%= image_tag "painting.jpg", height:323, alt:"painting"%>
    </div>
  </div>

  <div class="row">
    <div class="col-md-auto">
      <%= image_tag "guest_bed.jpg", height:352, alt:"guest bed"%>
    </div>
    <div class="col-md-auto">
      <%= image_tag "candle_stand.jpg", height:352, alt:"candle stand"%>
    </div>
    <div class="col-md-auto">
      <%= image_tag "stools.jpg", height:352, alt:"stools"%>
    </div>
    <div class="col-md-auto">
      <%= image_tag "mirror.jpg", height:352, alt:"mirror"%>
    </div>
  </div>

</div>
